<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CityServicePortBinding" />
        <binding name="CinemaServicePortBinding" />
        <binding name="SchedulerServicePortBinding" />
        <binding name="ShowServicePortBinding" />
        <binding name="TicketServicePortBinding" />
        <binding name="OrderServicePortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://pc-test:8081/CityService" binding="basicHttpBinding"
        bindingConfiguration="CityServicePortBinding" contract="CityService.CityService"
        name="CityServicePort" />
      <endpoint address="http://pc-test:8081/CinemaService" binding="basicHttpBinding"
        bindingConfiguration="CinemaServicePortBinding" contract="CinemaService.CinemaService"
        name="CinemaServicePort" />
      <endpoint address="http://pc-test:8081/SchedulerService" binding="basicHttpBinding"
        bindingConfiguration="SchedulerServicePortBinding" contract="SchedulerService.SchedulerService"
        name="SchedulerServicePort" />
      <endpoint address="http://pc-test:8081/ShowService" binding="basicHttpBinding"
        bindingConfiguration="ShowServicePortBinding" contract="ShowService.ShowService"
        name="ShowServicePort" />
      <endpoint address="http://pc-test:8081/TicketService" binding="basicHttpBinding"
        bindingConfiguration="TicketServicePortBinding" contract="TicketService.TicketService"
        name="TicketServicePort" />
      <endpoint address="http://pc-test:8081/OrdersService" binding="basicHttpBinding"
        bindingConfiguration="OrderServicePortBinding" contract="OrdersService.OrderService"
        name="OrderServicePort" />
    </client>
  </system.serviceModel>
</configuration>